html {
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oxygen", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Oxygen");
}
.content {
  padding: 1em 1em 1em;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
}
@media (max-width: 700px) {
  html {
    font-size: 8px;
  }
}
